<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MDmde.mobile" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.MDmde.mobile.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.MDmde.mobile.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.MDmde.mobile.LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true" >
            >
        </activity>
        <activity
            android:name="com.MDmde.mobile.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.MDmde.mobile.UpdateProfileActivity"
            android:label="@string/title_activity_update_profile"
            android:noHistory="true">
        </activity>
    </application>

</manifest>
